<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head');%>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Top Mascots</h1>
            <p><%= tagline %></p>
            <ul>
                <% mascots.forEach(function(mascots) { %>
                    <li>
                        <strong><%= mascots.name %></strong>
                        difficulty <%= mascots.difficulty %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div class="container my-5">
        <h2 class="text-center mb-4">Our Escape Rooms</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="images/room1.jpg" class="img-fluid rounded shadow-sm" alt="Room 1">
          </div>
          <div class="col-md-4">
            <img src="images/room2.jpg" class="img-fluid rounded shadow-sm" alt="Room 2">
          </div>
          <div class="col-md-4">
            <img src="images/room3.jpg" class="img-fluid rounded shadow-sm" alt="Room 3">
          </div>
        </div>
      </div>
      
</body>
</html>